* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

body {
    margin: 0px;
}

nav {
    font-size: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    color: white;
    background: seagreen;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.city-button {
    cursor: pointer;
}

.sidebar {
    float: left;
    width: 17%;
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.main-display {
    float: right;
    width: 80%;
    margin-top: 10px;
}

.greenUV {
    background: green;
    color: white;
}

.yellowUV {
    background: yellow;
}

.redUV {
    background: red;
    color: white;
}

.card {
    float: left;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
    background: seagreen;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#city {
    width: 80%;
}

#submit {
    font-size: small;
}

#current-weather {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
}