body {
    margin: 0px;
}

nav {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    color: white;
    background: seagreen;
}

.sidebar {
    float: left;
    width: 20%;
}

.main-display {
    float: right;
    width: 80%;
}

.greenUV {
    background: green;
    color: white;
}

.yellowUV {
    background: yellow;
}

.redUV {
    background: red;
    color: white;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#current-weather {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
}